@import "variables";

header {
  padding: 20px 20px;
  background-color: $backgroundColor;
  .header-wrapper {
    font-family: $mainFont;
    color: $textColor;
    font-size: 24px;
    font-weight: 500;
    display: flex;
    justify-content: center;
    justify-content: space-between;
    flex-grow: 5rem;
  }
}
#header-menu {
  cursor: pointer;
}
#cross {
  display: none;
}

.change {
  #menu {
    display: none;
  }
  #cross {
    display: block;
    color: $textColor;
  }
  nav {
    display: flex;
    background-color: $backgroundColor;
    ul {
      display: flex;
      justify-content: space-around;
      align-items: center;
      flex-direction: column;
      height: 90vh;
      position: relative;
      li {
        list-style: none;
        text-decoration: none;
        color: $textColor;
        font-family: $mainFont;
      }
    }
  }
}
