.huge-text-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: $textColor;
    font-family: $mainFont;
    h1{
        font-weight: 400;
        font-size: 24px;
    }

    .text-wrapper{
        width: 15rem;
        text-align: center;
    }
}

.decor-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: $textColor;
    font-family: $mainFont;
    .line{
        width: 8rem;
        height: 1px;
        background: $borderColor;
        margin: 30px 0;
    }
    h1{
        font-weight: 400;
        font-size: 24px;
    }
}