@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,600&display=swap');

$mainFont: 'Montserrat', sans-serif;
$textColor: rgba(0, 0, 0, 0.65);
$backgroundColor: #F4F4F4;
$borderColor :rgba(0, 0, 0, 0.4);